.div-device-manager {
	height: 85vh;
	padding: 2rem;
}

.div-device-manager .col-heading {
	width: fit-content;
	font-size: 200%;
	font-weight: bold;
	padding-left: 1rem;
	text-transform: uppercase;
}

.div-device-manager .excel-icon {
	width: fit-content !important;
	color: black !important;
}

.excel-icon :hover {
	cursor: pointer;
	opacity: 0.8;
	transition-duration: 0.3s;
}

.col-excel-icon {
	display: flex;
	align-items: center;
}

.container-table-device-manager {
	margin-top: 1.5rem;
	max-height: 75vh;
	overflow-y: auto;
}

.table-device-manager {
	margin-top: 1rem;
}

.row-table {
	padding-left: 2rem;
	padding-right: 2rem;
	height: 85%;
}

.device-table-head {
	text-align: center;
}

.table-device-manager td {
	text-align: center;
}

.table-device-manager tr {
	vertical-align: middle;
}

.sort {
	background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==)
		no-repeat center right !important;
}
.sort_asc {
	background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIRnC2nKLnT4or00Puy3rx7VQAAOw==)
		no-repeat center right !important;
}
.sort_desc {
	background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=)
		no-repeat center right !important;
}

.table-device-manager thead {
	text-align: center;
	border-bottom: 2px solid #bfbcbc;
}

.container-table-device-manager #searchText {
	width: auto;
	margin-left: auto;
	margin-right: 0;
	border: 2px solid #898989;
}

.container-table-device-manager input:focus {
	box-shadow: none !important;
	border: 2px solid black !important;
}

.container-table-device-manager .span-search-icon {
	width: fit-content !important;
	vertical-align: middle;
	display: flex;
	align-items: center;
}

.div-device-manager .btn-add-meter {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
}

.div-device-manager .div-add-meter :hover {
	cursor: pointer;
	opacity: 0.8;
}

.form-add-meter .form-group {
	margin-top: 1rem;
}

.form-add-meter label {
	font-weight: 500;
	font-size: 90%;
}

.btn-add {
	background-color: black !important;
	color: white !important;
	font-weight: 600 !important;
}

.btn-add :hover {
	background: white;
	color: black;
	transition-duration: 0.3s;
}

.btn-discard {
	background-color: white !important;
	color: black !important;
	font-weight: 600 !important;
}

.btn-discard :hover {
	background-color: black !important;
	color: white !important;
	font-weight: 600 !important;
}

.table-device-manager .icon :hover {
	cursor: pointer;
	opacity: 0.8;
}
