.div-device-manager {
	height: 85vh;
}

.div-device-manager .row-heading {
	padding: 2rem !important;
}

.div-device-manager .col-heading {
	width: fit-content;
	font-size: 200%;
	font-weight: bold;
	padding-left: 1rem;
	text-transform: uppercase;
}

.div-device-manager .excel-icon {
	width: fit-content !important;
	color: black !important;
}

.excel-icon :hover {
	cursor: pointer;
	opacity: 0.8;
	transition-duration: 0.3s;
}

.col-excel-icon {
	display: flex;
	align-items: center;
}

.container-table-device-manager {
	margin-top: 1.5rem;
	max-height: 75vh;
	overflow-y: auto;
}

.row-table {
	padding-left: 2rem;
	padding-right: 2rem;
	height: 85%;
}

.device-table-head {
	text-align: center;
}

.sort {
	background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==)
		no-repeat center right !important;
}
.sort_asc {
	background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIRnC2nKLnT4or00Puy3rx7VQAAOw==)
		no-repeat center right !important;
}
.sort_desc {
	background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=)
		no-repeat center right !important;
}

.table-device-manager thead {
	text-align: center;
	border-bottom: 2px solid #bfbcbc;
}
