.total-energy-consumption-pane {
	border: 1px solid #000000;
	padding: 1rem;
}

.total-energy-consumption-pane span {
	display: inline;
	width: fit-content;
}

.dot-grey {
	height: 25px;
	width: 25px !important;
	background-color: #696665;
	border-radius: 50%;
}

.dot-orange {
	height: 25px;
	width: 25px !important;
	background-color: #ff9233;
	border-radius: 50%;
	display: inline-block;
}

.dot-blue {
	height: 25px;
	width: 25px !important;
	background-color: #3c67be;
	border-radius: 50%;
	display: inline-block;
}

.dot-red {
	height: 25px;
	width: 25px !important;
	background-color: #be4114;
	border-radius: 50%;
	display: inline-block;
}

.row-pie-charts {
	padding-top: 0.1rem;
	height: 100px;
}

.electricity-bill-pane {
	border: 1px solid #000000;
	padding: 1rem;
	margin-top: 1rem;
}

.electricity-bill-pane span {
	display: inline;
	width: fit-content;
}

.row-progress {
	padding: 1rem;
	padding-top: 0;
}

.building-power-consumption-pane {
	border: 1px solid #000000;
	padding: 1rem;
	margin-top: 1rem;
	height: 200px;
}

.electrical-system-power-consumption-pane {
	border: 1px solid #000000;
	padding: 1rem;
	margin-top: 1rem;
	height: 200px;
}

.map-campus {
	height: 750px;
	width: 100%;
	background-color: #bbb;
}

.footer {
	height: 100%;
}

.legend {
	height: 20px;
	width: 80% !important;
	margin: auto;
}

.gradient {
	background-image: linear-gradient(to right, #d1dbde, #f9dccc, #d9a791);
}

.legend-dot-1 {
	height: 20px;
	width: 20px;
	background-color: #d1dbde;
	border-radius: 50%;
}

.legend-dot-2 {
	height: 20px;
	width: 20px;
	background-color: #f9dccc;
	border-radius: 50%;
}

.legend-dot-3 {
	height: 20px;
	width: 20px;
	background-color: #d9a791;
	border-radius: 50%;
}

.dot-container {
	width: fit-content !important;
	padding-top: 1rem;
	padding-bottom: 0.2rem;
}

.legend-percentage {
	width: fit-content !important;
}
