#container-meter {
	height: 100%;
	padding: 1rem;
}

.row-btn-mode {
	height: 10%;
	white-space: nowrap;
	padding: 1rem 2rem 1rem 2rem;
}

#container-meter .btn-map {
	width: 50%;
	border-radius: 0.5rem 0 0 0.5rem;
	border-right-width: 0.5px !important;
	border: 2px solid black;
	background-color: white;
	color: black;
	font-weight: bold;
	background-image: none;
	font-size: 125%;
	text-transform: uppercase;
}

#container-meter .btn-diagram {
	width: 50%;
	border-radius: 0 0.5rem 0.5rem 0;
	border-left-width: 0.5px !important;
	border: 2px solid black;
	background-color: white;
	color: black;
	font-weight: bold;
	background-image: none;
	font-size: 125%;
	text-transform: uppercase;
}

#container-meter .btn:hover {
	cursor: pointer !important;
	background-color: black !important;
	color: white !important;
	transition-duration: 0.3s;
}

#container-meter button.active {
	background-color: black;
	color: white;
}

#container-meter button.active:focus {
	box-shadow: none;
}

#container-meter .row-diagram {
	padding: 1rem;
}

#container-meter .row-overall {
	margin: auto;
	font-size: 120%;
	font-weight: bold;
	text-transform: uppercase;
	justify-content: center;
}

#container-meter .row-overall:hover {
	cursor: pointer;
	background-color: #b4d7ff;
}

#container-meter .row-input {
	white-space: nowrap;
	margin-bottom: 1rem;
}

#container-meter .row-input #searchText {
	width: 20%;
	margin-left: auto;
}

#container-meter .row-input span {
	width: fit-content;
}

#container-meter .col-table-heading {
	font-weight: bold;
	font-size: 150%;
	text-align: right;
	margin-top: auto;
	margin-right: 1rem;
}

#container-meter .col-excel-icon {
	vertical-align: baseline;
}

#container-meter .table-device-manager {
	margin-top: 0;
}

#container-meter .meter-map {
	height: 90%;
	overflow-y: hidden;
}

#container-meter .map-campus {
	position: relative;
	height: 50%;
}

#container-meter .map-campus .row-building-block {
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 100;
	width: 100%;
}

#container-meter .map-campus .building-block {
	width: calc(100% / 12.5);
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	margin: 0 0.5rem 0 0.5rem;
	font-weight: bold;
	font-size: 110%;
	border-radius: 1rem;
}

#container-meter .map-campus .building-block:hover {
	cursor: pointer;
	opacity: 0.7;
}

#container-meter .img-road-1,
#container-meter .img-road-2,
#container-meter .img-road-campus,
#container-meter .img-field,
#container-meter .img-pond,
#container-meter .img-trees {
	position: absolute;
	height: 100%;
	z-index: -1;
	object-fit: cover;
	left: 50%;
	transform: translate(-50%, +10%);
}

#container-meter .img-building {
	position: absolute;
	height: 100%;
	object-fit: cover;
	left: 50%;
	transform: translate(-50%, +10%);
}

#container-meter .img-building > div,
#container-meter .img-building > div > svg {
	height: 100%;
}

#container-meter #img-nida-house {
	z-index: -1;
}

#container-meter #img-siam {
	z-index: 2;
}

#container-meter .container-table-device-manager {
	margin-top: 0;
	height: 45%;
}

#container-meter .table-device-manager thead {
	position: sticky;
	top: 0;
	background: white;
}

#container-meter .table-device-manager tbody {
	overflow-y: scroll;
	overflow-x: hidden;
}

#container-meter .row-title {
	font-weight: 500;
	font-size: 225%;
}
